.Section8Div{
    text-align: center;
    margin: 40px 20%;
    position: sticky;
    position: -webkit-sticky;
}
.Section8DivA h3{
    font-weight: 700;
}
.Section8DivB{
    box-shadow: 5px 5px 30px 0px rgb(83, 78, 78);
    border-radius: 15px;
}
.SectionDivBTitle{
    padding: 1% 5%;
    box-shadow: 5px 5px 30px 0px rgb(83, 78, 78);
    border-radius: 15px;
}
.baoiamTuition h5{
     margin: 5px;
     background-color: darkblue;
     padding: 7px 15px;
     color: white;
     border-radius: 15px;
}
.regularTuition h5{
     background-color: rgb(115, 115, 224);
     border-left: 3px dashed grey;
     padding: 7px 15px;
     color: white;
     border-radius: 15px;
     margin: 5px;
}
.pointDiscriptionA{
    width: 250px;
    margin-left: 100px;
    margin-right: -90px;
    padding: 10px 20px;
}
.pointDiscriptionB{
    padding: 10px 20px;
    margin-right: 100px;
    width: 250px;
    border-left: 3px dashed grey;
}
.point {
    background-color: rgb(199, 194, 194);
    padding: 5px 15px;
    border-radius: 7px;
    margin:15px 200px ;
}
.pointDiscriptionA h6{
   color: rgb(115, 115, 224); ;
}
.pointDiscriptionB h6{
    color:darkblue;
}
.baoiamTuition{
    padding-left: 86px;
    border-left: 3px dashed grey;
}